body {
    width: 40%;
    margin: 0 auto;
    background-image: url(./Assets/sfondo.png);
}

header {
    background: linear-gradient(45deg, #176687, #01a7ca);
    color: white;
    text-align: center;
    font-size: 2em;
    box-shadow: 1px 3px 5px rgb(58, 58, 58);
    margin: 1em 0;
    padding-bottom: 0.2em;
}

header img {
    width: 70%;
    padding: 1em;
}

header ul {
    list-style-type: none;
}

ul> li> p> a {
    text-decoration: none;
    color: white;
}

main> ul {
    margin: 1em;
    list-style-type: disc;
    margin-left: 3em;
}

main> ol {
    margin: 1em;
    margin-left: 3em;
    list-style-type: decimal;
}

main {
    background-color: white;
    padding: 1em;
    box-shadow: 1px 5px 6px rgb(68, 68, 68);
}

p {
    margin: 1em 0;
}

p> span {
    color: #a4206d;
    font-weight: 1000;
}

main> li {
    margin: 0.5em 0;
    margin-left: 2em;
}

main> p> a {
    color: #059dbf;
    font-weight: 700;
}

iframe {
    border-radius: 10px;
    margin: 1em 0;
}

article {
    background-color: #e5e0e2;
    text-align: start;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid  #d2bcc5;
}

article> h1 {
    text-align: center;
}

article> h1 {
    margin: 0;
}

footer {
    background: linear-gradient(180deg, #017088, black);
    color: white;
    text-align: center;
    font-size: 2em;
    box-shadow: 1px 3px 5px rgb(58, 58, 58);
    margin: 0.5em 0;
    padding: 0.4em;
}

footer> p {
    padding: 0.3em;
    margin: 0.1em;
    font-size: 0.5em;
}

footer> p> a {
    color: #ff02fe;
}

.inline {
    display: inline;
}

.grey {
    color: rgb(164, 164, 164);
}

.tag {
    display: inline;
    text-align: start;
}

.calendar {
    display: inline;
}

.data {
    text-align: end;
    padding: 1em 0;
}

table {
    border-bottom: 3px solid  #3367cd;
    padding: 1.5em;
;

}

th {
    background-color: #3367cd;
    padding: 1.5em;
    color: white;
}

td {
    padding: 1em;
}

.tabella {
    background-color: #f4ecf0;
}

caption {
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    margin: 0.3em;
}